<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="CSV Plugin">
            <directory>test</directory>
        </testsuite>
    </testsuites>

</phpunit>
